<table class="table">
    <thead>
      <tr>
        <th scope="col">Option</th>
        <th scope="col">Score</th>
        <th scope="col">Current Score</th>
        <th scope="col">Select button</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Ones</th>
        <td>1</td>
        <td>Otto</td>
        <td><button class="btn btn-primary">Select</button></td>
      </tr>
      <tr>
        <th scope="row">Twoes</th>
        <td>2</td>
        <td>Thornton</td>
        <td><button class="btn btn-primary">Select</button></td>
      </tr>
      <tr>
        <th scope="row">Threes</th>
        <td>3</td>
        <td>Thornton</td>
        <td><button class="btn btn-primary">Select</button></td>
      </tr>
    </tbody>
  </table>
