<div class="container">
    <div class="row align-items-center">
      <div class="col-12 dices-line">
        <div class="col-xs-2 dice-box">
            <span>{{dice1}}</span>
        </div>
        <div class="col-xs-2 dice-box">
            <span>{{dice2}}</span>
        </div>
        <div class="col-xs-2 dice-box">
            <span>{{dice3}}</span>
        </div>
        <div class="col-xs-2 dice-box">
            <span>{{dice4}}</span>
        </div>
        <div class="col-xs-2 dice-box">
            <span>{{dice5}}</span>
        </div>
      </div>
    </div>
    <div class="row align-items-center roll">
            <button class="btn btn-primary btn-roll" (click)="addNewItem(value)">Roll</button>
        
    </div>
  </div>
