<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-dices 
      (newItemEvent)="addItem($event)"
      [Selected]="Selected"
      ></app-dices>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Option</th>
            <th scope="col">Total Score</th>
            <th scope="col">Current Score</th>
            <th scope="col">Select button</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Ones</th>
            <td>{{totalScore[0]}}</td>
            <td >{{valueScore[0]}}</td>
            <td><button class="btn btn-primary" (click)="onChangeOneSelect()" [ngClass]="this.oneSelected ? 'btn-success' : 'btn-primary'">Select</button></td>
          </tr>
          <tr>
            <th scope="row">Twoes</th>
            <td>{{totalScore[1]}}</td>
            <td>{{valueScore[1]}}</td>
            <td><button class="btn btn-primary" (click)="onChangeTwoSelect()" [ngClass]="twoSelected ? 'btn-success' : 'btn-primary'">Select</button></td>
          </tr>
          <tr>
            <th scope="row">Threes</th>
            <td>{{totalScore[2]}}</td>
            <td>{{valueScore[2]}}</td>
            <td><button class="btn btn-primary" (click)="onChangeThreeSelect()" [ngClass]="threeSelected ? 'btn-success' : 'btn-primary'">Select</button></td>
          </tr>
          <tr>
            <th scope="row">Fours</th>
            <td>{{totalScore[3]}}</td>
            <td>{{valueScore[3]}}</td>
            <td><button class="btn btn-primary" (click)="onChangeFourSelect()" [ngClass]="fourSelected ? 'btn-success' : 'btn-primary'">Select</button></td>
          </tr>
          <tr>
            <th scope="row">Fives</th>
            <td>{{totalScore[4]}}</td>
            <td>{{valueScore[4]}}</td>
            <td><button class="btn btn-primary" (click)="onChangeFiveSelect()" [ngClass]="fiveSelected ? 'btn-success' : 'btn-primary'">Select</button></td>
          </tr>
          <tr>
            <th scope="row">Sixes</th>
            <td>{{totalScore[5]}}</td>
            <td>{{valueScore[5]}}</td>
            <td><button class="btn btn-primary" (click)="onChangeSixSelect()" [ngClass]="sixSelected ? 'btn-success' : 'btn-primary'">Select</button></td>
          </tr>
          <tr>
            <th scope="row">3 of a kind</th>
            <td>{{totalScore[6]}}</td>
            <td>{{valueScore[6]}}</td>
            <td><button class="btn btn-primary" (click)="onChangeThreeKindSelect()" [ngClass]="threeKindSelected ? 'btn-success' : 'btn-primary'">Select</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>